.menu-nav{
    background-color: rebeccapurple;
    padding: 2px;
    
}

nav.menu-nav ul li.btn{
    display: inline-block;
    list-style-type: none;
    
}
nav.menu-nav ul li.btn a {
    color: white;
    text-decoration: none;
    background-color: rebeccapurple;
    padding: 10px;
}
nav.menu-nav ul li.btn:hover a{
    color: rebeccapurple;
    background-color: white;
}